# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  pullPolicy: IfNotPresent
  repository: cr.yandex/crpr9jlf6k4254l80050/pidor_bot
  version: 40-8fd152efa3d1adf9bfd466c4578d6bc295080a4f
