# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  pullPolicy: IfNotPresent
  repository: cr.yandex/crpr9jlf6k4254l80050/pidor_bot
  version: 47-f82b40f384ab4ae812e9ce0b4b0de9a74ef53041
