# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  pullPolicy: IfNotPresent
  repository: cr.yandex/crpr9jlf6k4254l80050/pidor_bot
  version: 59-5db272752d42cf202135db49dc016da0ea321edb
